body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

.header{
    width: 100%;
    height: 100px;
    padding-top: 30px;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url("../img/img.jpg") center no-repeat;
    background-size: cover;
}

.reset {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 30px auto;
    background-color: rgb(226, 222, 222);
    opacity: 85%;
    box-shadow: 0 5px 10px rgb(79, 132, 245);
    border-radius: 15px;
}

.reset__form{
    padding: 15px 15px 0;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 2.2;
}

.pass {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.pass__ag {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

input[type="password"]{
    width:100%;
    margin-bottom: 20px;
}

button{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    color: rgb(54, 124, 216);
    border: 1.5px solid #333;
    border-radius: 5px;
    text-transform: uppercase;
    transition-duration:0.2s ;
    cursor: pointer;
    margin-top: 10px;
    padding: 7px 15px;
    margin-right: 7px;
}

button:hover{
    background-color: #fff;
    color: #333;
}

button:active {
    background-color: #8cabff;
    transform: translateY(4px);
    box-shadow: 0 6px #666;
    color:#fff;
}


@media (max-width:3840px) and (min-width:1921px){

    .header{
        height: 500px;
    }
    
    .container {
        width: 100%;
        max-width: 3000px;
        max-height: 900px;
        margin: 0 auto;
        padding: 0 180px;
    }

    .header__logo{
        font-size: 96px;
    }

    .reset {
        width: 55%;
        height: 105%;
    }

    .reset__form{
        margin-top: 5%;
        width: 100%;
        height: 100%;
        padding: 0 5%;
    }

    .pass{
        font-size: 66px;
    }

    .pass__ag{
        font-size: 66px;
    }

    input[type="password"]{
        width:100%;
        font-size: 66px;
        padding: 2% 3%;
        margin-bottom: 4%;
    }

    button{
        font-size: 66px;
        margin-top: 10px;
        padding: 2% 3%;
        margin-right: 7px;
    }

}

@media (max-width:1920px) and (min-width:1600px){

    .header{
        height: 300px;
    }
    
    .container {
        width: 100%;
        max-width: 1800px;
        max-height: 700px;
        margin: 0 auto;
        padding: 0 150px;
    }

    .header__logo{
        font-size: 46px;
    }

    .reset {
        width: 55%;
        height: 90%;
    }

    .reset__form{
        margin-top: 5%;
        width: 100%;
        height: 100%;
        padding: 0 5%;
    }

    .pass{
        font-size: 25px;
    }

    .pass__ag{
        font-size: 25px;
    }

    input[type="password"]{
        width:100%;
        font-size: 20px;
        padding: 2% 3%;
        margin-bottom: 4%;
    }

    button{
        padding: 2% 4%;
        font-weight: 600;
        margin: 10px 0 0 ;
    } 

}

@media (max-width: 991px){

    .header__logo{
        font-size: 28px;
    }

    .reset {
        width: 55%;
        height: 90%;
    }

    .reset__form{
        margin-top: 5%;
        width: 100%;
        height: 100%;
        padding: 0 5%;
    }

    input[type="password"]{
        margin-bottom: 0;
        width:80%;
        font-size: 22px;
    }

    button{
        padding: 2% 4%;
        font-weight: 600;
        margin: 10px 0 0 ;
    }

}

@media (max-width: 767px){

    .header__logo{
        font-size: 26px;
    }

    .reset {
        width: 65%;
        height: 90%;
    }

    .reset__form{
        margin-top: 5%;
        width: 100%;
        height: 100%;
        padding: 0 5%;
    }

    input[type="password"]{
        margin-bottom: 0;
        width:80%;
        font-size: 22px;
    }

    button{
        padding: 3px 7px;
        font-weight: 600;
        margin: 10px 0 0 ;
    }

}

@media (max-width: 575px){

    .header__logo{
        font-size: 24px;
    }

    .reset {
        width: 65%;
        height: 90%;
    }

    .reset__form{
        width: 100%;
        height: 100%;
        padding: 0 5%;
    }

    input[type="password"]{
        margin-bottom: 0;
        width:80%;
    }

    button{
        padding: 3px 7px;
        font-weight: 600;
        margin: 10px 0 0 ;
    }

}

@media (max-width: 341px){

    .header__logo{
        font-size: 20px;
    }

    .reset {
        width: 75%;
        height: 90%;
    }

    .reset__form{
        width: 100%;
        height: 100%;
    }

    input[type="password"]{
        margin-bottom: 0;
        width:80%;
    }

    button{
        padding: 3px 7px;
        font-weight: 600;
        margin: 10px 0 0 ;
    }

}